/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */

/* Using a Major Third modular scale:
*  https://www.modularscale.com/?18&px&1.25
*/

html{
	font-family : Helvetica, Arial, sans-serif;
	font-size: 1.125em; /*18px /16px  = 1.125em */
	line-height: 1.2222em; /* 22px /18px = 1.2222em */
	vertical-align: baseline;
	margin-top: 15em;
	margin-left: 10em;
	margin-bottom: 15em;
	margin-right: 10em;
}
body{
	background-color: #7dabd4;
	line-height: 2;
	font-size:18px;
	padding: 0;
	margin: 0;
}
h1{
  font-size: 25px;
  padding: .25em;
	color: white;
	text-shadow: 4px 4px 5px red;
}
ol, ul {
	list-style: hiragana;
}
p{
  padding-bottom: 0.5em
}
.titlebar-container {
 display:flex;
 justify-content:center;
 background-color:#678098;
 width:100%;
 top: 0;
 left: 0;
 position: fixed;
 background: black;
}

.titlebar-container .title {
 font-size:66px;
 font-weight:700;
}

img {
	width: 100%;
	/* height: auto; */
	object-fit: contain;
	padding-bottom: 20px;
}
