/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */

/* Using a Major Third modular scale:
*  https://www.modularscale.com/?18&px&1.25
*/
html{
  font-family: "Apercu Mono", monospace;
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.2222222222em; /* 22 / 18 = 1.2222222222  */
  padding: 1.2222222222em 1.2222222222em; /* 33 / 18 = 1.8333333333em*/
  background-color: black;
  color: white;
  background-image: url(bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-attachment: scroll;
}
body{
  margin: 4em 0; /*72 / 18 = 4em*/
}
h1, h2{
  font-family: "Klang MT";
  font-size: 1.9531111111em; /* 35.156 / 18 = 1.9531111111 */
  line-height: 1.2515644556em; /* 44 / 35.156 = 1.2515644556 */
	font-weight: bold;
	text-shadow: 0.2222222222em 0.2222222222em 0.2222222222em #B5B5FF; /* 4px 4px 4px  */
}
h1{
	padding-top: 0.128030303em; /* 8.45 / 66 =  0.128030303 */
}
h2{
    padding: 0.6257822278em 0; /*22/35.156  = 0.6257822278 */
}
p{
  padding-bottom: 1.2222222222em; /*22/18 = 1.22222 */
}
ol, ul {
	list-style: hiragana;
  margin-left: 1.2222222222em; /*22/18 = 1.22222 */
}
.title {
   top: 0;
   text-align: left; /*left aligned */
   width: 100%; /* Allows text-align know full width */
   position: fixed; /*keeps it locked while scrolling */
   font-size:3.6666666667em; /* 66 / 18 = 3.6666666667 */
}

/* The following image is not being used, but kept for future reference */
.img {
  display: block;
	width: 100%;
	height: auto;
	object-fit: contain; /* check out the different options*/
  border-radius: 40px; /*verify whether to use px or em"
  /* padding-top: 4em; */
	padding-bottom: 1.1111111111em; /* 20 / 18 = 1.1111111111 */
}

/*Show Gridlines... */
/**
* A quick baseline grid overlay using css+svg.
* Inspired by [Basehold.it](https://basehold.it/).
* @author leshido
*/

.g body {
    position: relative;
}

.g body::after {
    /* Change the `height` parameter here to match your base line-height. */
    background: url('data:image/svg+xml;utf8,<svg height="22" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(160, 0, 0, 1.0)" /></svg>') repeat top left;

    content: "";
    display: block;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    position: absolute;
}

.g body:active::after {
    display: none;
}
