/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*Add custom styles below... */

html{
/*  padding: 0.5em; */
	font: inherit;
	vertical-align: baseline;
	margin-top: 15em;
	margin-left: 10em;
	margin-bottom: 15em;
	margin-right: 10em;
	/*border-top-style: solid;
	border-top-width: 20px;
	border-left-width: 20px;
	border-left-style: solid;
	border-right-width: 20px;
	border-right-style: solid;
	border-bottom-width: 20px;
	border-bottom-style: solid;
	padding-left: 0;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 1180px;
	*/
}
body{
	background-color: #567895;
	line-height: 2;
	font-size:18px;
	padding: 0;
	margin: 0;
}
h1{
  font-size: 25px;
  padding: .25em;
	background-color: black;
	color: white;
	text-shadow: 4px 4px 5px red;
}
ol, ul {
	list-style: hiragana;
}
p{
  padding-bottom: 0.5em
}
.titlebar-container {
 display:flex;
 flex-direction:column;
 align-items:center;
 justify-content:center;
 background-color:#678098;
 border-bottom:solid 1px #dce3e5;
 border-top:solid 1px #dce3e5;
 box-sizing:border-box;
 width:100%;
 min-height:
}
.titlebar-container .titlebar {
 display:flex;
 flex-direction:row;
 align-items:center;
 width:100%;
 max-width:1352px
 background-color: #eee;
 text-align: center;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 900;
}
.titlebar-container .title {
 flex:1 1;
 font-size:66px;
 font-weight:700;
 hyphens:auto
}
.landscape-poster{
/*	display: block; */
	width: -moz-available;
	margin: 0;
	padding: 0px;
	background-size: contain;
}
img{
	vertical-align: baseline;
	width: -moz-available;
	height: auto;
	object-fit: contain;
	padding-bottom: 20px;
}
